<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574758760771-4b6h82l11lcvp6jia710jdg3o3t9ha7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574758760771-4b6h82l11lcvp6jia710jdg3o3t9ha7k</string>
	<key>API_KEY</key>
	<string>AIzaSyDcRdtD_CmNjaCbGCCUYZJu-JPQRbXn1y0</string>
	<key>GCM_SENDER_ID</key>
	<string>574758760771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseInit</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-78b18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-78b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574758760771:ios:26a460a2dfb50f54</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-78b18.firebaseio.com</string>
</dict>
</plist>